**/*.DS_Store
*.Python
bin/
lib/
include/
*.pyc
pip-selfcheck.json
*.zip
data.bak/
data-og/
erudite_theano/
__pycache__/
*.tar.gz
tests/
*.log
*.pkl
hell*
share/
logs/
states/
man/
hope
cache/
*.swp

